.card-content-container-parent{
    margin: 0;
    padding: 0;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
}
.card-content-container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.card-content-container .card{
    position: relative;
    cursor: pointer;
    text-align: center;
}

.card-content-container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.card-content-container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.card-content-container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}
.card-content-container .card:hover .face.netflix{
    background: #800020;
    transform: translateY(0);
}
.card-content-container .card:hover .face.spotify{
    background: #1B4332;
    transform: translateY(0);
}
.card-content-container .card .face.face1 .card-content{
    opacity: 0.8;
    transition: 0.5s;
}

.card-content-container .card:hover .face.face1 .card-content{
    opacity: 1;
}

.card-content-container .card .face.face1 .card-content img{
    max-width: 100px;
}

.card-content-container .card .face.face1 .card-content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.card-content-container .card .face.face2{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.card-content-container .card:hover .face.face2{
    transform: translateY(0);
}

.card-content-container .card .face.face2 .card-content p{
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.card-content-container .card .face.face2 .card-content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: white;
    padding: 5px;
    border: 1px solid #333;
}
.card-content-container .card .face.face2 .card-content .netflix-btn{
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: white;
    padding: 5px;
    background: #800020;
    border: 1px solid #333;
}
.card-content-container .card .face.face2 .card-content .netflix-btn{
    
    font-size: 20px;    
    background: #800020;
}
.card-content-container .card .face.face2 .card-content .spotify-btn{
    
    font-size: 20px;
    background: #1B4332;
}
.card-content-container .card .face.face2 .card-content a:hover{
    background: #333;
    color: #fff;
}
@media screen and (max-width: 930px){
    .card-content-container{
        flex-direction: column;
        align-items: center;
    }
}