@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap');
body {
    background-color: #333;
    position: relative;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    color: white;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 300%;
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #9CAFB7;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--light-color);
    color: var(--white);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--yellow);
    color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: #191716;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--light-color);
    font-weight: bolder;
}

.header .logo span {
    color: #1C6E8C;
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--white);
    margin-left: 17px;
}

.header .navbar a:hover {
    margin: 0 1rem;
    color: var(--yellow);
}

.header .btn {
    margin-top: 0;
}

.header #login-btn i {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

.fas-fa-music {
    color: #191716;
}

.fa-times {
    color: #191716;
}

.header.active {
    z-index: 2;
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

.heading {
    color: aliceblue;
}

.services {
    padding-top: 15rem;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.services .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: black;
    background: #011638;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.services .box-container .box h3 {
    color: white;
    font-size: 2.2rem;
}

.services .box-container .box p {
    color: #CDC6A5;
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.services .box-container .box:hover i {
    color: white;
    background: black;
}

.services .box-container .box:hover {
    background: #011638;
}

.services .box-container .box:hover h3 {
    color: black;
}

.services .box-container .box:hover p {
    color: white
}

.heading .h1 {
    font-size: 99%;
}


/* ser2 */

.services2 .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.services2 .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.services2 .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: black;
    background: #011638;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.services2 .box-container .box h3 {
    color: white;
    font-size: 2.2rem;
}

.services2 .box-container .box p {
    color: #CDC6A5;
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.services2 .box-container .box:hover i {
    color: white;
    background: black;
}

.services2 .box-container .box:hover {
    background: #011638;
}

.services2 .box-container .box:hover h3 {
    color: black;
}

.services2 .box-container .box:hover p {
    color: white;
}

.buttons :first-child:hover {
    background: rgba(255, 0, 0, 0.514);
}

.buttons a:hover {
    background: rgba(0, 0, 255, 0.555);
}

.header .logo {
    font-size: 2.5rem;
    color: var(--light-color);
    font-weight: bolder;
    text-decoration: none;
}

.header .logo span {
    color: #1C6E8C;
}

.header .navbar a {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--white);
    margin-left: 17px;
}

.header .navbar a:hover {
    margin: 0 1rem;
    color: var(--yellow);
}

.header .btn {
    margin-top: 0;
}

.icons-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #011638;
    text-align: center;
}

.icons-container .icons .free h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.icons-container .icons .free p {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.icons-container .icons:hover {
    background: #011638;
}

.icons-container .icons:hover i {
    color: var(--white);
    background: black;
}

.icons-container .icons:hover h3 {
    color: rgb(0, 0, 0);
}

.icons-container .icons:hover p {
    color: rgb(0, 0, 0);
}

.footer {
    padding-top: 100rem;
    background-color: #333;
}

.box {
    background-color: #191716;
    position: relative;
}

.box1 {
    background-color: #191716;
    position: relative;
}