@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap');
:root {
    --yellow: #9CAFB7;
    --light-yellow: #ffee80;
    --black: #5E5768;
    --light-color: #5E5768;
    --white: #fff;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background-color: #5E5768;
    position: relative;
}

.heading {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 300%;
}

.heading span {
    position: relative;
    z-index: 0;
}

.heading span::before {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #9CAFB7;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--light-color);
    color: var(--white);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--yellow);
    color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #191716;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    color: var(--light-color);
    font-weight: bolder;
}

.header .logo span {
    color: #1C6E8C;
}

.header .navbar a {
    font-size: 1.7rem;
    color: var(--white);
    margin-left: 17px;
}

.header .navbar a:hover {
    margin: 0 1rem;
    color: #191716;
}

.header .btn {
    margin-top: 0;
}

.header #login-btn i {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

#menu-btn {
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

.fa-times {
    color: #191716;
}

.header.active {
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

.home {
    padding-top: 3rem;
    padding-right: -2rem;
    text-align: center;
    overflow: hidden;
}

.home h1 {
    font-size: 4.5vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.home img {
    width: 100%;
    margin: 1rem 0;
}

.icons-container {
    background-color: #5E5768;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: #011638;
    text-align: center;
}

.icons-container .icons .free h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

.icons-container .icons .free p {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.icons-container .icons:hover {
    background: #011638;
}

.icons-container .icons:hover i {
    color: var(--white);
    background: black;
}

.icons-container .icons:hover h3 {
    color: rgb(0, 0, 0);
}

.icons-container .icons:hover p {
    color: rgb(0, 0, 0);
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.services .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: black;
    background: #5E5768;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.services .box-container .box h3 {
    color: white;
    font-size: 2.2rem;
}

.services .box-container .box p {
    color: #CDC6A5;
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.services .box-container .box:hover i {
    color: white;
    background: #5E5768;
}

.services .box-container .box:hover {
    background: #011638;
}

.services .box-container .box:hover h3 {
    color: black;
}

.services .box-container .box:hover p {
    color: white
}


/* ser2 */

.services2 {
    padding: 6rem;
}

.services2 .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    background-color: #5E5768;
}

.services2 .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: 5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.services2 .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: black;
    background: #011638;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.services2 .box-container .box h3 {
    color: white;
    font-size: 2.2rem;
}

.services2 .box-container .box p {
    color: #CDC6A5;
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.services2 .box-container .box:hover i {
    color: white;
    background: black;
}

.services2 .box-container .box:hover {
    background: #011638;
}

.services2 .box-container .box:hover h3 {
    color: black;
}

.services2 .box-container .box:hover p {
    color: white;
}

.newsletter {
    padding: 6rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    background: url(./car2.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #5E5768;
}

.newsletter h3 {
    color: #ffffff;
    font-size: 3rem;
}

.newsletter p {
    color: white;
    font-size: 3rem;
    padding: 1rem 0;
}

.newsletter form {
    margin: 1rem auto;
    max-width: 60rem;
    height: 5rem;
    display: flex;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-radius: 5rem;
}

.newsletter form input[type="email"] {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    padding: 0 2rem;
}

.newsletter form input[type="submit"] {
    height: 100%;
    width: 17rem;
    font-size: 1.7rem;
    color: black;
    background: var(--light-color);
    cursor: pointer;
}

.newsletter form input[type="submit"]:hover {
    background: #5E5768;
}

.group {
    background-color: #333;
}

.contact {
    background-color: #333;
    padding-top: -10rem;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .map {
    flex: 1 1 42rem;
    width: 100%;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.contact .row form {
    flex: 1 1 42rem;
    padding: 3rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.contact .row form h3 {
    font-size: 3rem;
    color: white;
}

.contact .row form .box {
    margin: 2rem 0;
    width: 90%;
    border: var(--border);
    padding: 1rem;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    text-transform: none;
    border-radius: .5rem;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.footer {
    background: #191716;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    color: #191716;
    font-size: 2.2rem;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box a {
    color: #191716;
    font-size: 1.4rem;
    display: block;
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #191716;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    .header.active {
        padding: 2rem;
    }
    section {
        padding: .01rem;
    }
}

.group .group {
    border-color: #191716;
}

@media(max-width:768px) {
    .header #menu-btn {
        display: block;
    }
    .header #menu-btn.fa-times {
        transform: rotate(180deg);
    }
    .header #login-btn i {
        display: block;
    }
    .header #login-btn .btn {
        display: none;
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: #191716;
    }
    .header .navbar a {
        text-align: center;
        display: block;
        margin: 2rem;
        font-size: 2rem;
        color: white;
        box-shadow: var(--box-shadow);
        padding: 1rem;
    }
    .header .navbar a:hover {
        background: black;
        color: var(--black);
    }
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box .h3 {
    border-radius: 150%;
    color: #ffffff;
}

.box1 {
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 150%;
    color: white;
    gap: 1.5rem;
}

.box {
    padding-left: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 150%;
    color: white;
    gap: 1.5rem;
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}

.box1 .a {
    color: white;
}

.group {
    padding: auto;
}

.netflixpackages {
    margin-bottom: -5rem;
}